<div ng-controller="dashboardctrl">
	<md-toolbar layout="row" style="background-color: #1DABB8;">
		<div layout="row" layout-align="start center">
			<a ng-click="toggleLeft()" class="md-raised fa fa-bars" style="color: #ffffff;padding-left:20px;"></a>
			<a href="#" class="md-toolbar-tools" style="color: #ffffff;">Pilot</a>
		</div>
		<span flex ></span>
		<div layout="row" layout-align="end center">
		    <md-menu>
	      		<a class="dropbtn" href="#" aria-label="Open menu with custom trigger" ng-mouseenter="$mdMenu.open()" style="color: #ffffff;padding-right: 30px;">Username&nbsp;<span class="fa fa-user"></span></a>
	    	</md-menu>
		</div>	
	</md-toolbar>
	<div>
		<section layout="row" flex="">
		    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4" style="background-color: #3E4651;color: #ffffff;width: 250px;">
		      	<md-toolbar class="md-theme-indigo" style="background-color: #1DABB8;">
		      		<div layout="row" layout-align="start center">
		      			<h1 class="md-toolbar-tools">Pilot Options</h1>
		      			<a class="md-accent glyphicon glyphicon-remove-sign" ng-click="toggleLeft()" style="color: #ffffff;padding-right: 20px;"></a>
		      		</div>	
		      	</md-toolbar>
		      	<div layout="row" layout-align="start center">
				    <md-menu style="padding-left: 20px;">
			      		<div layout="column" layout-align="center center">
				      		<md-button class="sidenavbutton">
				      			<h4><a class="fa fa-tachometer dropbtn" href="#" style="color: #ffffff;">&nbsp;&nbsp;Dashboard</a></h4>
				      		</md-button>
			      		</div>
			      		<div layout="column" layout-align="end center">
				      		<md-button class="sidenavbutton">
				      			<h4><a class="fa fa-pencil-square-o dropbtn" href="#" style="color: #ffffff;">&nbsp;&nbsp;UI Elements</a></h4>
				      		</md-button>
			      		</div>
			    	</md-menu>
				</div>
		    </md-sidenav>
		    <md-content flex="" layout-padding="">
		      	<div layout="column" class="col-sm-4 ">
		        	<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">Dashboard</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>
		      	</div>
		      	<div layout="column" class="col-sm-4">
		        	<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">UI Elements</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>
		      	</div>
		      	<div layout="column" class="col-sm-4">
		        	<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">Card with image</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>
		      	</div>
		      	<div layout="column" class="col-sm-4">
		        	<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">Card with image</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>
		      	</div>
		      	<div layout="column" class="col-sm-4 ">
		        	<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">Card with image</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>
		      	</div>
		      	<div layout="column" class="col-sm-4 ">
		        	<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">Card with image</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>
		      	</div>
		      	<div layout="column" class="col-sm-4 ">
		        	<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">Card with image</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>
		      	</div>
		      	<div layout="column" class="col-sm-4 ">
		        	<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">Card with image</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>
		      	</div>
		      	<div layout="column" class="col-sm-4 ">
	  				<md-card>
				        <md-card-title>
				          	<md-card-title-text>
				            	<span class="md-headline"><a href="#">Card with image</a></span>
				          	</md-card-title-text>
				          	<md-card-title-media>
				           		<div class="md-media-lg card-media"></div>
				          	</md-card-title-media>
				        </md-card-title>
			        </md-card>	
		      	</div>
		    </md-content>
	    </section>
	</div>
</div>